{% extends "../../gaming_shop/base.html" %}
{% load static %}
{% block title %}
    Sign Up
{% endblock title %}
{% block content %}
<section class="h-100 h-custom" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="row text-center">
                            <form class="account-form p-4 rounded col-lg-10 mx-auto" action="." method="post">
                              {% if form.errors %}
                              <p>There are some issues with the details your provided: </p>
                              {% for field in form %}
                              {% if field.errors %}
                              <div class="alert alert-primary" role="alert">
                                {{ field.label }}:  {{ field.errors|striptags}}
                              </div>
                              {% endif %}
                              {% endfor %}
                              {% endif %}


                              {% csrf_token %}
                                <div class="text-center mb-3">
                                  <p>Sign up with:</p>
                                  <button type="button" class="btn btn-link btn-floating mx-1">
                                    <i class="fab fa-facebook-f"></i>
                                  </button>
                          
                                  <button type="button" class="btn btn-link btn-floating mx-1">
                                    <i class="fab fa-google"></i>
                                  </button>
                          
                                  <button type="button" class="btn btn-link btn-floating mx-1">
                                    <i class="fab fa-twitter"></i>
                                  </button>
                          
                                  <button type="button" class="btn btn-link btn-floating mx-1">
                                    <i class="fab fa-github"></i>
                                  </button>
                                </div>
                          
                                <p class="text-center">or:</p>
                          
                                <!-- First Name input -->
                                <div class="col-md-4 offset-md-4">
                                  <div class="form-outline mb-4">
                                    <label class="form-label">{{ form.first_name.label }}</label>
                                    {{ form.first_name }}                
                                  </div>
                                </div>

                                <!-- Last Name input -->

                                <div class="col-md-4 offset-md-4">
                                  <div class="form-outline mb-4">
                                    <label class="form-label">{{ form.last_name.label }}</label>
                                    {{ form.last_name }}                
                                  </div>
                                </div>

                                <!-- Email input -->
                                <div class="col-md-4 offset-md-4">
                                  <div class="form-outline mb-4">
                                    <label class="form-label">{{ form.email.label }}</label>
                                    {{ form.email }}
                                  </div>
                                </div>

                                <!-- Date of Birth input -->
                                 <div class="col-md-4 offset-md-4">
                                  <div class="form-outline mb-4">
                                    <label class="form-label">{{ form.date_of_birth.label }}</label>
                                    {{ form.date_of_birth }}
                                  </div>
                                </div>


                                <!-- Country input -->
                                <div class="col-md-4 offset-md-4">
                                  <div class="form-outline mb-4">
                                    <label class="form-label">{{ form.country.label }}</label>
                                    {{ form.country }}
                                  </div>
                                </div>

                                <!-- Phone Number input -->
                                <div class="col-md-4 offset-md-4">
                                  <div class="form-outline mb-4">
                                    <label class="form-label">{{ form.phone_number.label }}</label>
                                    {{ form.phone_number }}
                                  </div>
                                </div>

                                <!-- Password input -->
                                <div class="col-md-4 offset-md-4">
                                  <div class="form-outline mb-4">
                                    <label class="form-label" for="registerPassword">{{ form.password.label }}</label>
                                    {{ form.password }}
                                  </div>
                                </div>

                                
                          
                                <!-- Repeat Password input -->
                                <div class="col-md-4 offset-md-4">
                                  <div class="form-outline mb-4">
                                    <label class="form-label" for="registerRepeatPassword">{{ form.password2.label }}</label>
                                    {{ form.password2 }}
                                  </div>
                                </div>
                          
                                <!-- Checkbox -->
                                <div class="form-check d-flex justify-content-center mb-4">
                                  <label class="form-check-label" for="registerCheck">
                                    {{ form.terms.label }}
                                  </label>
                                  {{ form.terms }}
                                </div>
                          
                                <!-- Submit button -->
                                <button type="submit" class="btn btn-primary btn-block mb-3">Sign in</button>
                                <a href="{% url 'login:login' %}">Already have an account?</a>
                              </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block js %}



{% endblock js %}