{% extends '../gaming_shop/base.html' %}
{% load static %}
{% block title %}Basket Summary{% endblock title %}

{% block content %}
{% comment %} need to check basket contains values  {% endcomment %}

<div class="container">
    <div class="row">
        {% for key, value in basket.basket.items %}
        <div class="col-6 col-md-4 d-flex">
            <div class="card" style="width: 16rem;">
                <img class="card-img-top" src="{{ value.image_url }}" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">{{ value.title }}</h5>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        {% endfor %}

        
        <div class="col-6 col-md-4">
            {% comment %} This is the checkout area  {% endcomment %}
        </div>
    </div>
</div>



{% endblock %}